$base-dark: #46423e;
$base-darker: #34322c;
$base-light-primary: #e1dbd6;
$base-light-secondary: #f9f6f2;

$gray: #d9d9d9;

$overlay-blur: rgba(70, 66, 62, 0.945);
$overlay-huge-blur: rgba(70, 66, 62, 0.5);

$font-family-headings: "Inter", sans-serif;
$font-family-primary: "Roboto", sans-serif;

$fs-title: 3rem;
$fs-title-sm: 2.25rem;
$fs-subtitle: 2.75rem;
$fs-subtitle-sm: 1.875rem;
$fs-base: 1rem;
$fs-base-md: 1.25rem;
$fs-base-lg: 1.5rem;
$fs-md: 0.875rem;
$fs-sm: 0.75rem;

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$space-xxs: 0.125rem;
$space-xs: 0.5rem;
$space-sm: 0.875rem;
$space-md: 2rem;
$space-lg: 3rem;
$space-xl: 4rem;
$space-xxl: 5rem;
$space-huge: 8rem;

$width-container: 75rem;

$width-vector-line: 1.625rem;

$height-header: 4.375rem;
$height-secondary-nav: 3rem;
$height-footer: 4.375rem;

$height-vector-line: 0.25rem;

$icon-sm: 1.5rem;
$icon-md: 2.5rem;
$icon-lg: 4rem;

$card-sm: 13.75rem;
$card-lg: 18.75rem;

$border-radius-sm: 5px;
$border-radius-md: 10px;
$border-radius-lg: 15px;
$border-radius-huge: 9999px;

$animation-timing: 350ms ease-in-out;
$animation-timing-faster: 250ms ease-in-out;
