.animatable {
  height: 100%;
}

.regularAnimatable {
  transition-duration: 600ms;

  transition-property: transform, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &.animatableInitial {
    transform: translateX(33%);
    opacity: 0.6;
  }
}

.cardAnimatable {
  transition-duration: 400ms;

  transition-property: transform, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &.animatableInitial {
    transform: translateY(20%);
    opacity: 1;
  }
}
